.conteiner{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #800080;
    padding: 20px;
    gap: 10px;
    border-radius: 5px;
}

.item{
    border-radius: 10px;
    width: 46%;
    padding: 20px;
    background-color: lightgray;
    text-align: center;
}