<div class="conteiner">
    <div class="item">
        <h3>{{first.firstComponent1}}</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, sapiente!</p>
    </div>
    <div class="item">
        <h3>{{first.firstComponent1}}</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, sapiente!</p>
    </div>
    <div class="item">
        <h3>{{first.firstComponent1}}</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, sapiente!</p>
    </div>
    <div class="item">
        <h3>{{first.firstComponent1}}</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, sapiente!</p>
    </div>
</div>
